@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer utilities {
  @variants responsive {
      /* Hide scrollbar for Chrome, Safari and Opera */
      .no-scrollbar::-webkit-scrollbar {
          display: none;
      }
      /* Hide scrollbar for IE, Edge and Firefox */
      .no-scrollbar {
          -ms-overflow-style: none;
          /* IE and Edge */
          scrollbar-width: none;
          /* Firefox */
      }
  }
}


/* scrollbar  */


/* width */

::-webkit-scrollbar {
  border-radius: 20px;
  width: 8px;
  transition-duration: 300ms;
}


/* Track */

::-webkit-scrollbar-track {
  background: white;
}


/* Handle */

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #B39FFC;
  transition-duration: '0.3s';
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #8a6bfc;
}



/* Hero section */
.boo-1 {
  offset-path: path(
    "M 239 17 C 142 17 48.5 103 48.5 213.5 C 48.5 324 126 408 244 408 C 362 408 444 301 442 211 C 434 92 302 43 249 41 C 177 36 86 95 68 192 C 64 272 96 339 160 373"
  );
}

.boo-2{
  offset-path: path(
    "M 231 432 C 328 432 421.5 346 421.5 235.5 C 421.5 125 344 41 226 41 C 108 41 26 148 28 238 C 36 357 168 406 221 408 C 293 413 384 354 402 257 C 406 177 374 110 310 76"
  );
}

.boo-3{
  offset-path: path(
    "M 449 426 C 487.4012 323.5391 468 201 407 134 C 347 70 222.2361 35.7466 110 89"
  );
}



/* Description + TimeLine */
.timeline {
  list-style-type: none;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.timestamp {
  margin-bottom: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-bottom: 4px dashed #ead8b8;
}

.status {
  margin-top: 30px;
  width: 200px;
  display: flex;
  align-items: 'center';
  justify-content: center;
  position: relative;
  transition: all 200ms ease-in;
}

.last-img {
  border-bottom: none;
}

.message-section {
  width: 700px;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
      list-style-type: none;
      display: block;
  }
  .li {
      transition: all 200ms ease-in;
      display: flex;
      width: inherit;
  }
  .timestamp {
      width: 100px;
      border-bottom: none;
  }
}


/* ui-elements */
.ui-divider{
  border-bottom: 1px solid #e5e5e5;
  margin: 1rem 0 0 0;
}

.handwritten{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5rem;
  color: #1b1824;
}