@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}


.boo-1 {
  offset-path: path(
    "M 239 17 C 142 17 48.5 103 48.5 213.5 C 48.5 324 126 408 244 408 C 362 408 444 301 442 211 C 434 92 302 43 249 41 C 177 36 86 95 68 192 C 64 272 96 339 160 373"
  );
}

.boo-2{
  offset-path: path(
    "M 231 432 C 328 432 421.5 346 421.5 235.5 C 421.5 125 344 41 226 41 C 108 41 26 148 28 238 C 36 357 168 406 221 408 C 293 413 384 354 402 257 C 406 177 374 110 310 76"
  );
}

.boo-3{
  offset-path: path(
    "M 449 426 C 487.4012 323.5391 468 201 407 134 C 347 70 222.2361 35.7466 110 89"
  );
}